In [4]:
import folium as fo
import pandas as pn

In [5]:
df = pn.read_excel("volcan.xlsx")
df

,Number,Volcano Name,Country,Region,Latitude,Longitude,Elev,Type,Status
0,0803-001,Abu,Japan,Honshu-Japan,34.500,131.600,571.0,Shield volcano,Holocene
1,1505-096,Acamarachi,Chile,Chile-N,-23.300,-67.620,6046.0,Stratovolcano,Holocene
2,1402-08=,Acatenango,Guatemala,Guatemala,14.501,-90.876,3976.0,Stratovolcano,Historical
3,0103-004,Acigol-Nevsehir,Turkey,Turkey,38.570,34.520,1689.0,Maar,Holocene
4,1201-04-,Adams,United States,US-Washington,46.206,-121.490,3742.0,Stratovolcano,Tephrochronology
...,...,...,...,...,...,...,...,...,...
1565,1000-12=,Zhupanovsky,Russia,Kamchatka,53.590,159.147,2958.0,Compound volcano,Historical
1566,1000-242,Zimina,Russia,Kamchatka,55.862,160.603,3081.0,Stratovolcano,Holocene
1567,0201-02=,"Zubair, Jebel",Yemen,Red Sea,15.050,42.180,191.0,Shield volcano,Historical
1568,0201-021,Zukur,Yemen,Red Sea,14.020,42.750,624.0,Shield volcano,Holocene
1569,1210-02-,Zuni-Bandera,United States,US-New Mexico,34.800,-108.000,2550.0,Volcanic field,Anthropology

In [6]:
lat = list(df["Latitude"])
lon = list(df["Longitude"])
elev = list(df["Elev"])

In [7]:
map = fo.Map(location=[40, -100],zoom_start=6,tiles="Mapbox Bright")

In [8]:
fgv = fo.FeatureGroup("Volcanoes")

In [9]:
def color_producer(elevation):
    if elevation < 1000:
        return 'green'
    elif 1000 <= elevation < 3000:
        return 'orange'
    else:
        return 'red'

In [12]:
for lt, ln, el in zip(lat, lon, elev):
    fgv.add_child(fo.CircleMarker(location=[lt, ln], radius = 6, popup=str(el)+" m",
    fill_color=color_producer(el), fill=True,  color = 'grey', fill_opacity=0.7))

fgp = fo.FeatureGroup(name="Population")
fgp.add_child(fo.GeoJson(data=open('world.json', 'r', encoding='utf-8-sig').read(),
style_function=lambda x: {'fillColor':'green' if x['properties']['POP2005'] < 10000000
else 'orange' if 10000000 <= x['properties']['POP2005'] < 20000000 else 'red'}))

map.add_child(fgv)
map.add_child(fgp)
map.add_child(fo.LayerControl())

map.save("Map1.html")